body {
    /* background-color: black; */
    background-image: url('https://wallpaperaccess.com/full/3672714.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

canvas {
    width: 100%;
    height: 100%;
}

/* sets the grids */
.container {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 300px 900px ;
    }
    
.gameTitle { 
        grid-area: 1 / 2 / 2 / 3; 
        /* background-color: black; */
        color: gold;
        text-align: center;
    }
    
.gameboard { 
        grid-area: 2 / 2 / 3 / 3; 
        /* background-color: lightgray; */
    }
    
.instructions { 
        grid-area: 1 / 1 / 3 / 2; 
        /* background-color: black; */
        color: gold;
        margin-top: 79vh;
    }

.buttons{ 
    grid-area: 1 / 3 / 3 / 4; 
    /* background-color: black; */
    color: gold;
    margin-top: 90vh;
}

.titleMessage {
    font-size: 15px;
}

#restartButton {
    display: none;
    justify-content: center;
}

