body {
    background-image: url('https://wallpaperaccess.com/full/3672714.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

canvas {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    grid-template-rows: 5% 100% ;
}
    
.gameTitle { 
    grid-area: 1 / 2 / 2 / 3; 
    color: gold;
    text-align: center;
}
    
.gameboard { 
    grid-area: 1 / 1 / 4 / 4; 
}
    
.instructions { 
    grid-area: 1 / 1 / 3 / 2; 
    color: gold;
    margin-top: 70vh;
}

.buttons{ 
    grid-area: 1 / 3 / 3 / 4; 
    color: gold;
    margin-top: 85vh;
}

.titleMessage {
    font-size: 15px;
}

#restartButton {
    display: none;
}